body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #123456;
}

#pointer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  /* cursor: url('https://maps.gstatic.com/mapfiles/openhand_8_8.cur'), default; */
  cursor: pointer;
  z-index: 2;
}

#pointer:active {
  /* cursor: url('https://maps.gstatic.com/mapfiles/closedhand_8_8.cur'), default; */
  /* cursor: pointer; */
}

#container {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transform: scale(0.5);
}

.box-square {
  position: absolute;
  width: 256px;
  height: 256px;
}
.image {
  width: 256px;
  height: 256px;
}
.box-icon {
  position: absolute;
  z-index: 1;
}
.icon {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 2px;
  left: -18px;
  transform: scale(2);
}
