#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ccc;
}

#you-touch {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: 1;
}

#react-map {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}

#icons {
  position: absolute;
  top: 184px;
  left: -484px;
}

.box-square {
  position: absolute;
  width: 256px;
  height: 256px;
}

.item-square {
  width: 256px;
  height: 256px;
}

.box-icon {
  position: absolute;
  z-index: 2;
}

.item-icon {
  position: absolute;
}

.StatueOf7 {
  width: 36px;
  height: 36px;
  z-index: 103;
}

.Teleporter {
  width: 36px;
  height: 36px;
  z-index: 103;
}

.Shrine {
  width: 36px;
  height: 36px;
  z-index: 103;
}

.CrystalChunk {
  width: 24px;
  height: 24px;
  z-index: 102;
}

.WhiteIronChunk {
  width: 24px;
  height: 24px;
  z-index: 101;
}
